h1,h2{
   font-family: 'Bebas Neue', cursive; 
}
h1{
    font-size: 70px;
}
h2{
    font-size: 40px;
}
h5{
    font-size: 25px;
    font-weight: 600;
    color: #363958;
}
#man-jacket, #woman-jacket, .penguin-features,.penguin-review{
    margin-top: 150px;
    margin-bottom: 150px;
}


/* Penguin Header Start */
.penguin-header-model{
    height: 550px;
    width: 630px;
}

.penguin-header-content{
    margin-top: 10%;
}
.penguin-btn{
    background-color: #A4BC46;
    color: white;
    width : 200px;
    height: 60px;
    font-weight: 600;
}
/* Penguin Header End */



/* Penguin Card Start*/
.penguin-card{
    border: none;
}
.penguin-card-icon{
    padding-right: 3%;
}
.penguin-logo{
    width: 300px;
    margin-left: -12px;
}
.penguin-card-img-holder{
    background-color: #F1F1F1;
    border-radius: 5px;
    margin: 16px;   
}
.penguin-card img{
    height: 330px;
    width: 380px;
    margin: 20px auto;
    padding :40px;
}
.penguin-card-footer{
    border: none;
    background-color: white;
}
.penguin-card-footer h3{
    font-size: 38px;
    color: #FABE4C;
}

/* Penguin Card End*/



/* Penguin Features  Start*/
.penguin-features-img{
    margin-top: 80px;
    width: 650px;
}
.penguin-feature-content{
    margin-left: 2px;
}
/* Penguin Features End*/



/* Penguin Customer Review Start */
.penguin-customer-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
.penguin-review-content{
    font-size: 18px;
    font-weight: 500;
}
/* Penguin Customer Review End*/




@media only screen and (max-width: 576px) {
    .penguin-feature-icon{
        height: 100px;
        width: 100px;
        margin: 0 auto;
       
    }
    .penguin-features,h2{
        text-align: center;
    }
    .penguin-card img{
    margin: 20px 23px;
    }
}

 

